.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/clouds.jpg");
}

.loginForm {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    grid-template-areas:
    "usernameLabel"
    "usernameInput"
    "passwordLabel"
    "passwordInput"
    "loginButton"
    "registerButton"
}

.usernameLabel {
    grid-area: usernameLabel;
}

.usernameInput {
    grid-area: usernameInput;
}

.passwordLabel {
    grid-area: passwordLabel;
}

.passwordInput {
    grid-area: passwordInput;
}

.loginButton {
    width: 100px;
    grid-area: loginButton;
    cursor: pointer;
}

.registerButton {
    grid-area: registerButton;
}

#registerLink {
    font-size: 10px;
    text-decoration: none;
}
