.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/clouds.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/*.loginForm {*/
/*    display: grid;*/
/*    grid-template-columns: 400px;*/
/*    grid-template-rows: auto;*/
/*    grid-template-areas:*/
/*    "loginError"*/
/*    "emailInput"*/
/*    "passwordInput"*/
/*    "loginButton"*/
/*    "registerButton"*/
/*}*/

/*input, .loginError {*/
/*    margin: 5px;*/
/*    width: 350px;*/
/*    border-radius: 3px;*/
/*}*/

/*.emailInput {*/
/*    grid-area: emailInput;*/
/*}*/

/*.passwordInput {*/
/*    grid-area: passwordInput;*/
/*}*/

/*.loginButton {*/
/*    grid-area: loginButton;*/
/*    width: 100px;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*    position: relative;*/
/*    left: 30%;*/
/*    margin-top: 5px;*/
/*}*/

#registerButton {
    position: relative;
    left: 43%;
    width: 100px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

/*.loginError {*/
/*    grid-area: loginError;*/
/*    width: 350px;*/
/*    height: 20px;*/
/*    background-color: crimson;*/
/*    text-align: center;*/
/*}*/
